body{
    background-color: white;
    font-family: sans-serif;
    text-align: left;
}

#example-iframe{
    position: absolute;
}

h2{
/*    margin-top: 0px;
    margin-bttom: 0px;
    margin-left: 0px;
    margin-right: 0px;*/
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

::selection {
    color: white;
    background: black;
}

.toc-btn{
    /*font-family: monospace;*/
    cursor: pointer;
    font-style: italic;
    /*font-weight: bold;*/
    /*border: 1px solid black;*/
    text-align: left;
    padding : 2px;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.toc-btn:hover{
    background-color: black;
    color: white;

}

.toc-list{
    border: 1px solid black;
    position: sticky;
    left: 40px;
    top: 40px;
    padding: 10px;
    width: 120px;
}




